name: "Docker Publish"

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  packages: write

jobs:
  publish-stable:
    name: Docker Publish

    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'schedule'}}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Prepare
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          labels: |
            org.opencontainers.image.title=juicefs
            org.opencontainers.image.description=juicefs
            org.opencontainers.image.authors=enoqv
            org.opencontainers.image.version=${{ env.VERSION }}
      - name: Build and push
        uses: docker/bake-action@v6
        env:
          VERSION: ${{ env.VERSION }}
        with:
          source: .
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file-labels }}
          targets: image-stable
          push: true
